@use "../theme/variables" as *;
@use "../theme/mixins" as *;

// scss/layout/_footer.scss

/** 
    * Footer responsive aplicando los estilos por defecto para móvil.
    * Los enlaces aparecerán en una columna y las redes sociales en otra.
    * En pantallas más grandes todo queda alineado en una fila.
*/

.site-footer {
  padding-block: $space-8;
  box-shadow: 0 -1px 0 rgba($color-dark-bg, .08) inset; /* línea superior sutil */
  background: linear-gradient(
        180deg,
        rgba($color-primary, .08) 0%,
        rgba($color-primary, 0) 60%
    ),
    $color-bg;
}

.footer-inner {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: $space-4;
  background: transparent;
}

.footer-links, 
.social {
  list-style: none; 
  margin: 0; 
  padding: 0;
  display: grid; 
  gap: $space-2; 
  grid-auto-flow: column; 
  align-items: center;
  align-content: center;
  width: max-content;
}
// Enlaces de interés
.footer-links {
    grid-auto-flow: row;
    li a {
        color: $color-text;
    }
}

// Links redes sociales
.social {
    grid-template-columns: repeat(2, minmax(0 ,1fr));
    justify-items: stretch;

    li {
        list-style: none;
    }

    a {
        display: grid;
        place-items: center;
        width: 100%;
        aspect-ratio: 1 / 1;
        padding: $space-2;
        border-radius: $space-2;
        background: rgba($color-dark-bg, .06);
        border: 1px solid rgba($color-dark-bg, .12);
    }

    a:hover,
    a:focus-visible {
        background: rgba($color-dark-bg, .12);
        border-color: rgba($color-dark-bg, .24);
    }

}
// Img de la redes sociales
.logo-footer {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

// Firma del footer
.footer-credit {
  justify-self: center;
  text-align: center;
  margin-top: $space-4;
  font-size: $space-4;
  color: $color-muted;

  p {
    display: inline-flex;
    align-items: center;
    gap: .4rem;
    margin: 0;
  }
}

.footer-credit__logo {
  height: 48px;
  width: auto;
  object-fit: contain;
  vertical-align: middle;
}

.footer-links,
.social,
.footer-credit {
    align-self: center;
}

// Versión para pantallas grandes
@include mq-desktop {
  .footer-inner {
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
  }

  /* Enlaces en fila */
  .footer-links {
    grid-column: 1;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    justify-self: start;
    gap: $space-4;
  }

  /* Firma */
  .footer-credit {
    grid-column: 2;
    justify-self: center;
  }

  /* Redes en fila */
  .social {
    grid-column: 3;
    grid-auto-flow: column;
    grid-auto-columns: max-content;   /* cada icono ocupa su contenido */
    justify-self: end;
    gap: $space-3;
  }
}
