@use "../theme/variables" as *;
@use "../theme/mixins" as *;
// scss/layout/_header.scss
.site-header {
    height: $header-h;
    position: fixed;
    inset: 0 0 auto 0;
    backdrop-filter: blur(8px);
    background: rgba($color-bg, .8);
    border-bottom: 1px solid rgba(255,255,255,.08);
    z-index: 1000;
}

.header-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    gap: $space-4;
    position: relative;
}

.brand {
    display: inline-flex;
    align-items: center;
    gap: .6rem;
    font-weight: 700;
    color: $color-text;
}

.brand_logo {
    width: 48px; 
    height: 48px;
    display: inline-grid; 
    place-items: center;
    border-radius: 50%;
    border: 1px solid rgba($color-dark-bg, .8);
}