@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// scss/layout/_hero.scss

.hero {
  min-height: calc(100vh - $header-h);
  display: grid;
  align-items: flex-start;
  place-items: center;
  padding-top: $header-h;
  background:
    radial-gradient(
      80% 60% at 70% 10%,
      rgba($color-primary, .15) 0%,
      transparent 60%
    ),
    $color-bg;
}

.hero__inner { 
  padding: $space-12;
  display: grid;
  place-items: center;

}

.hero__copy {
  max-width: 60ch; // 60 caracteres por línea
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $space-6;
  padding: $space-4;

  h1 {
    text-align: start;
    font-size: clamp(1.75rem, 5vw + 1rem, 3rem);
  }
}

.lead { color: $color-muted; font-size: 1rem; }

.hero a.btn:hover {
    text-decoration: none;
}