@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// scss/layout/_hero.scss

.hero {
  min-height: calc(100vh - $header-h);
  display: grid;
  align-items: center;
  padding-top: $header-h;
  background: radial-gradient(
    80% 60% at 70% 10%,
    rgba($color-primary, .15)
    transparent 60%
  )
}
.hero__inner { padding-block: $space-12; }
.hero__copy {
  max-width: 60ch; // 60 caracteres por línea
}
.lead { color: $color-muted; font-size: 1.2rem; }

