@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// scss/components/_buttons.scss
// Botones
.btn {
  display: inline-block;
  padding: .85rem 1.15rem;
  border-radius: .75rem;
  font-weight: 600;
  letter-spacing: .2px;
  border: 2px solid transparent;
  transition: transform .2s ease, background-color .2s ease, border-color .2s ease;
  will-change: transform;
  text-decoration: none;
}

.btn:active { transform: translateY(1px); }
.btn:hover { cursor: pointer; text-decoration: none;}

.btn--primary {
  background: $color-primary;
  color: $color-primary-contrast;
  border-color: transparent;
  font-size: 2rem !important;
  text-decoration: none;
}
.btn--primary:hover, .btn--primary:focus-visible {
  filter: brightness(1.05);
  text-decoration: none;
}

.btn--ghost {
  background: rgba($color-bg, .20);
  color: $color-text;
  border: 1px solid rgba($color-text,.35);
}
.btn--ghost:hover, .btn--ghost:focus-visible {
  background: rgba($color-focus, .75);
  border: 1px solid rgba($color-text,.35);
}

// Deshabilito el subrayado para los botones
a.btn,
a.btn:link,
a.btn:visited,
a.btn:hover,
a.btn:focus,
a.btn:focus-visible,
a.btn:active {
  text-decoration: none;
}
